body{
    background-color: #454545 ;
}
.Title{
    font-size: xx-large;

}
.text{
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}
.img img{
    width: 100%;
    border-radius: 5% 0 0 0;
}
#content{
    text-align: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 5%;
}
.foot{
    text-align: center;
    background-color: blue;
    width: 100%;
    margin-top: 0 auto;
    color: white;
    border-radius: 0 0 5% 5%;
    padding: 1px 0; 
}